<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="leang.phonegap.plugins.gplus"
        version="0.1.0">

  <name>GPlus</name>
  <author>Tha Leang</author>
  <description>This plugin allows users to share urls via the Google Plus SDK.</description>
  <license>MIT</license>
                                                                                                                          ~
  <js-module src="www/GPlus.js" name="GPlus">
    <clobbers target="window.plugins.gplus" />
  </js-module>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="GPlus">
        <param name="ios-package" value="GPlus"/>
      </feature>
    </config-file>

    <header-file src="src/ios/GPlus.h" />
    <source-file src="src/ios/GPlus.m" />

    <framework src="src/ios/sdk/GoogleOpenSource.framework" custom="true" />
    <framework src="src/ios/sdk/GooglePlus.framework" custom="true" />
    <resource-file src="src/ios/sdk/GooglePlus.bundle" />

    <framework src="AddressBook.framework" />
    <framework src="AssetsLibrary.framework" />
    <framework src="Foundation.framework" />
    <framework src="CoreLocation.framework" />
    <framework src="CoreMotion.framework" />
    <framework src="CoreGraphics.framework" />
    <framework src="CoreText.framework" />
    <framework src="MediaPlayer.framework" />
    <framework src="Security.framework" />
    <framework src="SystemConfiguration.framework" />
    <framework src="UIKit.framework" />

  </platform>
</plugin>
